<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.supnumarchive">

    <!-- Permission d'accès Internet (Firebase) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>


    <!-- Pour Android 10 (API 29), activer le mode legacy (accès au stockage étendu) -->
    <application
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_supnum_archive1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_supnum_archive_radous"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupNumArchive"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <!-- Déclaration des activités -->
        <activity android:name=".DownloadActivity" android:exported="false" />
        <activity android:name=".NotificationActivity" android:exported="false" />
        <activity android:name=".ChatActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".CMactivity" android:exported="false" />
        <activity android:name=".TDandTPActivity" android:exported="false" />
        <activity android:name=".SujetsActivity" android:exported="false" />
        <activity android:name=".ChallangeActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".SemestreActivity" android:exported="false" />
        <activity android:name=".MatiereActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />

        <!-- Activité principale (lanceur) -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
